MyDev/src/flows/New_Customer_Flow-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account1</name>
        <label>Account1</label>
        <locationX>150</locationX>
        <locationY>177</locationY>
        <actionName>NewAccount</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Contact_1</targetReference>
        </connector>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contact_1</name>
        <label>Contact 1</label>
        <locationX>148</locationX>
        <locationY>292</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>opp</targetReference>
        </connector>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>opp</name>
        <label>opp</label>
        <locationX>156</locationX>
        <locationY>412</locationY>
        <actionName>NewOpportunity</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StageName</name>
            <value>
                <elementReference>Opportunity_Stage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CloseDate</name>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>Closed_won</name>
        <choiceText>Closed won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complete</name>
        <choiceText>Complete</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Prospecting</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </choices>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>200</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account1</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>Prospecting</choiceReferences>
            <choiceReferences>Closed_won</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Screen</startElementReference>
    <textTemplates>
        <name>text</name>
        <text>{!Company_Name}-{!Last_Name}</text>
    </textTemplates>
    <variables>
        <name>Close_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2015-10-15</dateValue>
        </value>
    </variables>
    <variables>
        <name>Oppname</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
